<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>412100680825-rfp1cnpdeh1pv6tm1kpd9b2k0n3iokiu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.412100680825-rfp1cnpdeh1pv6tm1kpd9b2k0n3iokiu</string>
	<key>API_KEY</key>
	<string>AIzaSyAlzmu608rl0HlM6s1H3Rb_2RwyiTXYIXc</string>
	<key>GCM_SENDER_ID</key>
	<string>412100680825</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>gold.calculator</string>
	<key>PROJECT_ID</key>
	<string>gold---calculator</string>
	<key>STORAGE_BUCKET</key>
	<string>gold---calculator.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:412100680825:ios:e56c9c96b748cced8b08a8</string>
</dict>
</plist>